<div class="form-container">
  <div class="account-page-form-box">
    <h1 class="sign-title">Change your password</h1>

    <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <%= f.error_notification %>

      <%= f.input :reset_password_token, as: :hidden %>
      <%= f.full_error :reset_password_token %>

      <div class="form-inputs">
        <%= f.input :password,
                    label: "New password",
                    required: true,
                    autofocus: true,
                    hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                    input_html: { autocomplete: "new-password" }, placeholder: "new password", label: false %>
        <%= f.input :password_confirmation,
                    label: "Confirm your new password",
                    required: true,
                    input_html: { autocomplete: "new-password" }, placeholder: "new password confirmation *", label: false %>
      </div>

      <div class="form-actions mt-5">
        <%= link_to "cancel", places_path, class: "btn-n btn-n-secondary mr-auto" %>
        <%= f.button :submit, "Change my password", :class => 'btn-n btn-n-primary' %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>

