<div class="footer">
  <div class="sub-footer">
    <div class="sub-footer-title">Company</div>
    <div><%= link_to 'About Us', about_path, class: "no-decor-color" %></div>
  </div>
  <div class="sub-footer">
    <div class="sub-footer-title">Support</div>
    <div><%= link_to 'Contact', contact_us_path, class: "no-decor-color" %></div>
    <p><a class="no-decor-color" target="_blank" href="https://apps.apple.com/de/app/nappies/id1522079929?l=en">iOS App</a></p>
  </div>
  <div class="sub-footer">
    <div class="sub-footer-title">Corporate Policy</div>
    <div><%= link_to 'Privacy Policy', privacy_path, class: "no-decor-color" %></div>
    <div><%= link_to 'Terms & Conditions', terms_path, class: "no-decor-color" %></div>
    <div><%= link_to 'Cookies', cookies_path, class: "no-decor-color" %></div>
  </div>
  <div class="footer-links">
    <a class="no-decor" href="https://apps.apple.com/de/app/nappies/id1522079929?l=en" target="_blank"><%= image_tag "iOS-badge-black.jpg", class: 'ios-badge' %></i></a>
    <a class="no-decor-color" href="https://www.instagram.com/nappiesapp/" target="_blank"><i class="fab fa-instagram"></i></a>
    <a class="no-decor-color" href="#"><i class="fab fa-facebook"></i></a>
    <a class="no-decor-color" href="#"><i class="fab fa-twitter"></i></a>
  </div>
  <div class="footer-copyright">
    <div>© NAPPIES 2020</div>
  </div>
</div>
