<div class="navbar-bottom">
  <div class="navbar-bottom-box">
    <div class="navbar-bottom-items"><%= link_to image_tag('icon-all.png'), places_path, class: 'navbar-icon' %></div>
    <div class="navbar-bottom-items"><%= link_to image_tag('icon-diaper.png'), filter_by_changing_table_places_path, class: 'navbar-icon' %></div>
    <div class="navbar-bottom-items"><%= link_to image_tag('icon-high-chair.png'), filter_by_high_chair_places_path, class: 'navbar-icon' %></div>
    <div class="navbar-bottom-items"><%= link_to image_tag('icon-toy.png'), filter_by_toy_places_path, class: 'navbar-icon' %></div>
    <div class="navbar-bottom-items"><%= link_to image_tag('icon-play-area.png'), filter_by_play_area_places_path, class: 'navbar-icon' %></div>
  </div>
</div>

<!--
<div class="navbar-bottom">
  <div class="navbar-bottom-box">
    <div class="child"><%#= link_to image_tag('icon-all.png'), places_path, class: 'navbar-icon' %></div>
    <div class="child"><%#= link_to image_tag('icon-diaper.png'), filter_by_changing_table_places_path, class: 'navbar-icon' %></div>
    <div class="child"><%#= link_to image_tag('icon-high-chair.png'), filter_by_changing_table_places_path, class: 'navbar-icon' %></div>
    <div class="child"><%#= link_to image_tag('icon-toy.png'), filter_by_changing_table_places_path, class: 'navbar-icon' %></div>
    <div class="child"><%#= link_to image_tag('icon-play-area.png'), filter_by_changing_table_places_path, class: 'navbar-icon' %></div>
  </div>
</div>
 -->
