<div class="navbar-mobile">
  <!-- DROPDOWN -->
  <div class="dropdown-mobile">
    <div class="list-navbar"><i class="fas fa-bars"></i></div>
    <div class="list-navbar-x"><i class="fas fa-times"></i></div>
    <div class="dropdown-list">
      <ul>
        <% if user_signed_in? %>
          <li><%= link_to current_user.username.upcase, edit_user_registration_path, :class => 'no-decor-dropdown' %></li>
          <% if current_user.admin? %>
            <li><%= link_to "Create A Place", new_place_path, :class => 'no-decor-dropdown' %></li>
          <% else %>
            <li><a class="no-decor-color" target="_blank" href="mailto:nappiesapp@gmail.com">Recommend A Place</a></li>
          <% end %>
          <%# if current_user.admin? %>
            <%# if current_user[:photo] %>
              <!-- <li><%#= cl_image_tag current_user.photo.key, height: 400, crop: :fill, class: "avatar" %></li> -->
            <%# else %>
              <!-- <li><%#= image_tag "profile-icon.png", height: 400, crop: :fill, class: "avatar" %></li> -->
            <%# end %>
          <%# end %>
        <% else %>
            <li><%= link_to "Login", new_user_session_path, :class => 'no-decor-dropdown' %></li>
            <li><strong><%= link_to "SIGN UP", new_user_registration_path, :class => 'no-decor-dropdown' %></strong></li>
        <% end %>
      </ul>
    </div>
  </div>

  <!-- SEARCH -->
  <div class="search-mobile">
    <button class="search-button-navbar"><i class="fas fa-search"></i></button>
    <button class="search-button-x"><i class="fas fa-times"></i></button>
    <div class="search-form-mobile">
      <%= form_for :search, url: places_path, class: "search-form form-container", method: :get do %>
        <div class="search-box-mobile">
            <%= text_field_tag :query, params[:query],
              class: "search-input-mobile",
              placeholder: "City, place name, type..."%>
          <%= select_tag "facility", options_for_select(['Select Facility',
                    'Changing Table',
                    'Toy',
                    'High Chair',
                    'Play Area']), class: "select2 search-select-mobile" %>
          <div class="search-popup-footer">
            <button type="submit" class="search-submit-navbar"><i class="fas fa-search"></i> search</button>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
