<div class="navbar-mobile">
  <!-- DROPDOWN -->
  <div class="dropdown-mobile">
    <div class="list-navbar"><i class="fas fa-bars"></i></div>
    <div class="list-navbar-x"><i class="fas fa-times"></i></div>
    <div class="dropdown-list">
      <ul>
        <% if user_signed_in? %>
          <li><%= link_to current_user.username.upcase, edit_user_registration_path, :class => 'no-decor-dropdown' %></li>
          <% if current_user.admin? %>
            <li><%= link_to "Create A Place", new_place_path, :class => 'no-decor-dropdown' %></li>
          <% else %>
            <li><a class="no-decor-dropdown" target="_blank" href="mailto:nappiesapp@gmail.com">Recommend A Place</a></li>
          <% end %>
          <li><%= link_to "Sign out", destroy_user_session_path, method: :delete, :class => 'no-decor-dropdown' %></li>
          <%# if current_user.admin? %>
            <%# if current_user[:photo] %>
              <!-- <li><%#= cl_image_tag current_user.photo.key, height: 400, crop: :fill, class: "avatar" %></li> -->
            <%# else %>
              <!-- <li><%#= image_tag "profile-icon.png", height: 400, crop: :fill, class: "avatar" %></li> -->
            <%# end %>
          <%# end %>
        <% else %>
            <li><a class="no-decor-color" target="_blank" href="mailto:nappiesapp@gmail.com">Recommend A Place</a></li>
            <li><%= link_to "Login", new_user_session_path, :class => 'no-decor-color' %></li>
            <li><strong><%= link_to "SIGN UP", new_user_registration_path, :class => 'no-decor-color' %></strong></li>
        <% end %>
      </ul>
    </div>
  </div>

  <!-- LOGO -->
  <div class="logo-mobile">
    <%= link_to "NAPPIES", places_path, class: "m-logo-text" %>
  </div>

  <!-- SEARCH -->
  <div class="search-mobile">
    <button class="search-button-navbar"><i class="fas fa-search"></i></button>
    <button class="search-button-x"><i class="fas fa-times"></i></button>
    <div class="search-form-mobile">

      <%= simple_form_for :search, url: places_path, method: "GET", html: { class: 'search-form' } do |f| %>
        <div class="search-box">
          <%= f.input :query, label: false, placeholder: "City, place name, type...", input_html: { class: "search-input-mobile" } %>
          <%= f.input :type, as: :select, :collection => Type.limit(5), label: false, prompt: "Select Type", input_html: { class: "select2 search-select-mobile" }  %>
          <%= f.input :changing_table, as: :boolean, checked_value: true, unchecked_value: false, input_html: { class: "input-changing-table" } %>
          <%= f.input :high_chair, as: :boolean, checked_value: true, unchecked_value: false, input_html: { class: "input-high-chair" } %>
          <%= f.input :toy, as: :boolean, checked_value: true, unchecked_value: false, input_html: { class: "input-toy" } %>
          <%= f.input :play_area, as: :boolean, checked_value: true, unchecked_value: false, input_html: { class: "input-play-area" } %>
          <button type="submit" class="search-submit-navbar"><i class="fas fa-search"></i> search</button>
        </div>
      <% end %>

    </div>
  </div>
</div>
