<div class="navbar-desktop">
  <div class="content-navbar">
    <% if user_signed_in? %>
      <div>
        <% if current_user.admin? %>
          <%= link_to "Create A Place", new_place_path, class: "no-decor-color" %>
          <%= link_to "Type", types_path, class: "no-decor-color content-right" %>
        <% else %>
          <div><%= link_to 'Recommend A Place', contact_us_path, :class => 'no-decor-color' %></div>
        <% end %>
      </div>
    <% else %>
      <div><%= link_to 'Recommend A Place', contact_us_path, :class => 'no-decor-color' %></div>
    <% end %>
  </div>

  <div class="logo-desktop">
    <%= link_to "NAPPIES", places_path, class: "logo-text" %>
  </div>

  <div class="content-navbar">
    <% if user_signed_in? %>
      <div class="search-icon"><i class="fas fa-search"></i></div>
      <div>
        <%= link_to current_user.username.upcase, edit_user_registration_path, class: "no-decor-color content-right" %>
      </div>
      <div>
        <%= link_to "Sign out", destroy_user_session_path, method: :delete, :class => 'no-decor-color content-right' %>
      </div>
    <% else %>
      <div class="search-icon"><i class="fas fa-search"></i></div>
      <div>
        <%= link_to "Login", new_user_session_path, class: "no-decor-color content-right" %>
      </div>
      <div>
        <%= link_to "SIGN UP", new_user_registration_path, class: "no-decor-color content-right" %>
      </div>
    <% end %>
  </div>
</div>



