<div class="sub-container">
  <% @places.each do |place| %>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="card">
        <%= link_to place_path(place), class:"link", :action => 'go' do %>
          <%# place.photos.each do |photo| %>
            <!-- <div class="show-images"> -->
              <%# if !photo.nil? %>
                <%#= cl_image_tag photo.key, class: 'card-img' %>
              <%# else %>
                <%#= image_tag "place-icon.png", class: 'card-image' %>
              <%# end %>
            <!-- </div> -->
          <%# end %>
          <div class="place-card-details">
            <p class="card-name"><%= place.name %></p>
            <p class="card-type"><%= place.user.email %></p>
            <%= link_to 'Show', place %>
            <% if policy(place).edit? %>
              <%= link_to 'Edit', edit_place_path(place) %>
            <% end %>
            <% if policy(place).destroy? %>
              <%= link_to 'Destroy', place, method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>








