<div class="dropdown">
    <button class="btn-dropdown dropdown-toggle logo-text" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      NAPPIES
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <% if user_signed_in? %>
        <%= link_to current_user.username.upcase, edit_user_registration_path, class: "dropdown-item" %>
        <% if current_user.admin? %>
          <%= link_to "Create A Place", new_place_path, class: "dropdown-item" %>
        <% else %>
          <a class="no-decor-color dropdown-item" target="_blank" href="mailto:nappiesapp@gmail.com">Recommend A Place</a>
        <% end %>
        <% if current_user.admin? %>
          <% if current_user[:photo] %>
            <%= cl_image_tag current_user.photo.key, class: "avatar-bordered dropdown-item" %>
          <% else %>
            <%= image_tag "profile-icon.png", class: "avatar-bordered dropdown-item" %>
          <% end %>
        <% end %>
      <% else %>
          <%= link_to "Login", new_user_session_path, class: "dropdown-item" %>
          <strong><%= link_to "SIGN UP", new_user_registration_path, class: "dropdown-item" %></strong>
      <% end %>
    </div>
  </div>
