<%= simple_form_for(@place) do |p| %>
  <%= p.error_notification %>
  <%= p.error_notification message: p.object.errors[:base].to_sentence if p.object.errors[:base].present? %>

  <div class="form-inputs">
    <p><%= p.input :name %></p>
    <p><%= p.input :address, :id => 'flat_address' %></p>
    <p><%= p.association :type, label: false, include_blank: "Select type of place", input_html: { class: "select-2 rounded-sm" }, include_hidden: false  %></p>
    <p><%= p.input :photo1, as: :file %></p>
    <p><%= p.input :photo2, as: :file %></p>
    <p><%= p.input :photo3, as: :file %></p>
    <p><%= p.input :photo4, as: :file %></p>
    <p><%= p.input :photo5, as: :file %></p>
  </div>

  <div class="form-actions mt-5">
    <%= p.button :submit, :class => 'account-submit' %>
    <%= link_to 'Cancel', places_path, :class => 'no-decor-color' %>
  </div>
<% end %>
