<%= simple_form_for(@place) do |p| %>
  <%= p.error_notification %>
  <%= p.error_notification message: p.object.errors[:base].to_sentence if p.object.errors[:base].present? %>

  <div class="form-inputs">
    <p><%= p.input :name %></p>
    <p><%= p.input :address, :id => 'flat_address' %></p>
    <label>Type of place *</label>
    <div><%= p.association :type, label: false, include_blank: "Select type of place", input_html: { class: "select2 rounded-sm" }, include_hidden: false  %></div>
    <label>Facility *</label>
    <div class="form-facility-box">
      <p><%= p.input :changing_table, as: :boolean, checked_value: true, unchecked_value: false %></p>
      <p><%= p.input :toy, as: :boolean, checked_value: true, unchecked_value: false %></p>
      <p><%= p.input :high_chair, as: :boolean, checked_value: true, unchecked_value: false %></p>
      <p><%= p.input :play_area, as: :boolean, checked_value: true, unchecked_value: false %></p>
    </div>
    <label>Photos</label>
    <div class="form-facility-box">
      <p><%= p.input :photo1, as: :file %></p>
      <p><%= p.input :photo2, as: :file %></p>
      <p><%= p.input :photo3, as: :file %></p>
      <p><%= p.input :photo4, as: :file %></p>
      <p><%= p.input :photo5, as: :file %></p>
    </div>
  </div>

  <div class="form-actions mt-5">
    <%= link_to 'Cancel', places_path, :class => 'btn-n btn-n-secondary mr-auto' %>
    <%= p.button :submit, :class => 'btn-n btn-n-primary' %>
  </div>
<% end %>
