<div class="nappies-container">
  <div class="btn-list-box">
    <a class=btn-list href="#all-cards"><i class="fas fa-list"></i></a>
  </div>
  <div class="btn-map-box">
    <a class=btn-map href="#map"><i class="fas fa-map-marked-alt"></i></a>
  </div>
  <div id="all-cards" class="index-cards">
    <div class="response">
      <%= @response %>
    </div>
    <div class="nappies-cards">
      <% @places.each do |place| %>
        <div class="nappies-card">
          <%= link_to place_path(place), class:"link", :action => 'go' do %>
          <div class="card-image">
            <% if place.photo1.attached? %>
            <%= cl_image_tag place.photo1.key, width: 350, height: 250, crop: :fill, class: 'card-image' %>
            <% else %>
            <%= image_tag "place-icon-landscape.png", width: 350, height: 250, crop: :fill, class: 'card-image' %>
            <% end %>
          </div>
          <div class="card-details">
            <div>
              <p class="card-type"><%= place.type.name %></p>
              <p class="card-name"><%= place.name %></p>
            </div>
            <div class="card-facility">
              <div class="card-facility-icons mr-1">
                <% if place.changing_table == true %>
                <%= image_tag "icon-diaper.png", class: 'card-facility-icon' %>                    <% end %>
              </div>
              <div class="card-facility-icons mr-1">
                <% if place.high_chair == true %>
                <%= image_tag "icon-high-chair.png", class: 'card-facility-icon' %>
                <% end %>
              </div>
              <div class="card-facility-icons mr-1">
                <% if place.toy == true %>
                <%= image_tag "icon-toy.png", class: 'card-facility-icon' %>
                <% end %>
              </div>
              <div class="card-facility-icons">
                <% if place.play_area == true %>
                <%= image_tag "icon-play-area.png", class: 'card-facility-icon' %>
                <% end %>
              </div>
            </div>
          </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <div
    id="map", class="index-map"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
