<div class="nappies-container">
  <div class="index-map">
    <%= render 'shared/map' %>
  </div>
  <div class="index-cards">
    <div class="response">
      <%= @response %>
    </div>
    <div class="cards">
      <% @places.each do |place| %>
        <%= link_to place_path(place), class:"link", :action => 'go' do %>
          <div class="card">
            <div class="card-image">
              <% if place.photo1.attached? %>
              <%= cl_image_tag place.photo1.key, height: 250, crop: :fill, class: 'card-image' %>
              <% else %>
              <%= image_tag "place-icon-landscape.png", height: 250, crop: :fill, class: 'card-image' %>
              <% end %>
            </div>
            <div class="card-details">
              <div>
                <p class="card-type"><%= place.type.name %></p>
                <p class="card-name"><%= place.name %></p>
              </div>
              <div class="card-facility">
                <div class="card-facility-icons mr-1">
                  <% if place.changing_table == true %>
                  <%= image_tag "icon-diaper.png", class: 'card-facility-icon' %>                    <% end %>
                </div>
                <div class="card-facility-icons mr-1">
                  <% if place.high_chair == true %>
                  <%= image_tag "icon-high-chair.png", class: 'card-facility-icon' %>
                  <% end %>
                </div>
                <div class="card-facility-icons mr-1">
                  <% if place.toy == true %>
                  <%= image_tag "icon-toy.png", class: 'card-facility-icon' %>
                  <% end %>
                </div>
                <div class="card-facility-icons">
                  <% if place.play_area == true %>
                  <%= image_tag "icon-play-area.png", class: 'card-facility-icon' %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
