<div class="nappies-container">
  <% if !@response.present? %>

    <div class="navbar-bottom">
      <div class="navbar-bottom-box">
        <div><%= link_to 'Diaper', filter_by_changing_table_places_path, class: 'no-decor' %></div>
        <div><%= link_to 'High Chair', filter_by_high_chair_places_path, class: 'no-decor' %></div>
        <div><%= link_to 'Toy', filter_by_toy_places_path, class: 'no-decor' %></div>
        <div><%= link_to 'Play Area', filter_by_play_area_places_path, class: 'no-decor' %></div>
      </div>
    </div>
    <div class="btn-list-box">
      <a class=btn-list href="#all-cards"><i class="fas fa-list"></i></a>
    </div>
    <div class="btn-map-box">
      <a class=btn-map href="#map"><i class="fas fa-map-marked-alt"></i></a>
    </div>
    <div id="all-cards" class="index-cards">
      <div class="nappies-cards container-cards">
        <% @places.each do |place| %>
          <div class="nappies-card">
            <%= link_to place_path(place), class:"link", :action => 'go' do %>
            <!-- <div> -->
              <% if place.photo1.attached? %>
              <%= cl_image_tag place.photo1.key, width: 270, height: 170, crop: :fill, class: 'card-image' %>
              <% else %>
              <%= image_tag "place-icon-landscape.png", width: 270, height: 170, crop: :fill, class: 'card-image' %>
              <% end %>
            <!-- </div> -->
            <div class="card-details">
              <div>
                <div class="card-type"><%= place.type.name %></div>
                <div class="card-name"><%= place.name %></div>
              </div>
              <div class="card-facility">
                <div class="mr-1">
                  <% if place.changing_table == true %>
                  <%= image_tag "icon-diaper.png", class: 'card-facility-icon' %>                    <% end %>
                </div>
                <div class="mr-1">
                  <% if place.high_chair == true %>
                  <%= image_tag "icon-high-chair.png", class: 'card-facility-icon' %>
                  <% end %>
                </div>
                <div class="mr-1">
                  <% if place.toy == true %>
                  <%= image_tag "icon-toy.png", class: 'card-facility-icon' %>
                  <% end %>
                </div>
                <div>
                  <% if place.play_area == true %>
                  <%= image_tag "icon-play-area.png", class: 'card-facility-icon' %>
                  <% end %>
                </div>
              </div>
            </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
    <div
      id="map", class="index-map"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>

    <% else %>

    <div class="response">
      <%= @response %>
    </div>

  <% end %>
</div>
