<%= cl_image_tag @place.photo.key, height: 300, width: 400, crop: :fill %>

<p><%= @place.name %></p>
<p class="show-address"><%= @place.address %></p>
<p><%= @place.user.first_name %></p>

<% if policy(@place).edit? %>
  <p><%= link_to 'Edit', edit_place_path(@place) %></p>
<% end %>
<% if policy(@place).destroy? %>
  <p class="show-type"><%= link_to 'destroy', place_path(@place.id), method: :delete, data: {confirm: "Are you sure?"} %></p>
<% end %>
<p><%= link_to 'Back', places_path %></p>
