<div class="show-images">
  <% if @place.photo1.attached? %>
    <%= cl_image_tag @place.photo1.key, crop: :fill, class: 'show-img' %>
  <% else %>
    <%= image_tag "place-icon.png", class: 'show-img' %>
  <% end %>

  <% if @place.photo2.attached? %>
    <%= cl_image_tag @place.photo2.key, class: 'show-img' %>
  <% else %>
    <%= image_tag "place-icon.png", class: 'show-img' %>
  <% end %>

  <% if @place.photo3.attached? %>
    <%= cl_image_tag @place.photo3.key, class: 'show-img' %>
  <% else %>
    <%= image_tag "place-icon.png", class: 'show-img' %>
  <% end %>

  <% if @place.photo4.attached? %>
    <%= cl_image_tag @place.photo4.key, class: 'show-img' %>
  <% else %>
    <%= image_tag "place-icon.png", class: 'show-img' %>
  <% end %>

  <% if @place.photo5.attached? %>
    <%= cl_image_tag @place.photo5.key, class: 'show-img' %>
  <% else %>
    <%= image_tag "place-icon.png", class: 'show-img' %>
  <% end %>
</div>
<div class="show-details-box">
  <div class="show-detail-box">

    <% if @place.type_id.nil? %>
     <p class="show-type">none</p>
    <% else %>
     <p class="show-type"><%= @place.type.name %></p>
    <% end %>

    <% if @place.facility_id.nil? %>
     <p class="show-type">none</p>
    <% else %>
     <p class="show-type"><%= @place.facility.name %></p>
    <% end %>
    <h1 class="show-title"><%= @place.name %></h1>
    <p class="show-address"><%= @place.address %></p>
    <a class="btn-get-direction" href="https://maps.google.com/?q=<%= @place.latitude %>,<%= @place.longitude %>" target="_blank">Directions</a>
    <p><%= link_to 'Back', places_path, :class => 'no-decor-color' %></p>
    <% if user_signed_in? %>
      <div class="admin-authorize">
        <% if policy(@place).edit? %>
          <strong><p class="show-type"><%= link_to 'Edit', edit_place_path(@place), :class => 'no-decor-color mr-5' %></p></strong>
        <% end %>
        <% if policy(@place).destroy? %>
          <strong><p class="show-type"><%= link_to 'Destroy', place_path(@place.id), :class => 'no-decor-color', method: :delete, data: {confirm: "Are you sure?"} %></p></strong>
        <% end %>
      </div>
    <% end %>
  </div>
  <!-- GOOGLE MAPS -->
 <!--  <div
    id="map", class="show-google-map"
    data-markers="<%#= @markers.to_json %>"
  ></div> -->

  <!-- MAPBOX -->
  <div
    id="map", class="show-google-map"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
