<div class="show-images">
  <% if @place.photo1.attached? %>
    <%= cl_image_tag @place.photo1.key, height: 400, crop: :fill, class: 'show-img' %>
  <% else %>
    <%= image_tag "place-icon.png", height: 400, crop: :fill, class: 'show-img' %>
  <% end %>

  <% if @place.photo2.attached? %>
    <%= cl_image_tag @place.photo2.key, height: 400, crop: :fill, class: 'show-img' %>
  <% else %>
    <%= image_tag "place-icon.png", height: 400, crop: :fill, class: 'show-img' %>
  <% end %>

  <% if @place.photo3.attached? %>
    <%= cl_image_tag @place.photo3.key, height: 400, crop: :fill, class: 'show-img' %>
  <% else %>
    <%= image_tag "place-icon.png", height: 400, crop: :fill, class: 'show-img' %>
  <% end %>

  <% if @place.photo4.attached? %>
    <%= cl_image_tag @place.photo4.key, height: 400, crop: :fill, class: 'show-img' %>
  <% else %>
    <%= image_tag "place-icon.png", height: 400, crop: :fill, class: 'show-img' %>
  <% end %>

  <% if @place.photo5.attached? %>
    <%= cl_image_tag @place.photo5.key, height: 400, crop: :fill, class: 'show-img' %>
  <% else %>
    <%= image_tag "place-icon.png", height: 400, crop: :fill, class: 'show-img' %>
  <% end %>
</div>
<div class="show-details-box">
  <div class="show-detail-box">

    <% if @place.type_id.nil? %>
     <p class="show-type">none</p>
    <% else %>
     <p class="show-type"><%= @place.type.name %></p>
    <% end %>


    <h1 class="show-title"><%= @place.name %></h1>
    <p class="show-address"><%= @place.address %></p>
    <div class="show-facility">
      <div class="facility-details">
        <% if @place.diaper == true %>
          <%= image_tag "icon-diaper-b.png", class: 'facility-image' %>
          <p class="facility-name">Changing Table</p>
        <% end %>
      </div>
      <div class="facility-details">
        <% if @place.high_chair == true %>
          <%= image_tag "icon-high-chair-b.png", class: 'facility-image' %>
          <p class="facility-name">High Chair</p>
        <% end %>
      </div>
      <div class="facility-details">
        <% if @place.toy == true %>
          <%= image_tag "icon-toy-b.png", class: 'facility-image' %>
          <p class="facility-name">Toys</p>
        <% end %>
      </div>
      <div class="facility-details">
        <% if @place.play_area == true %>
          <%= image_tag "icon-play-area-b.png", class: 'facility-image' %>
          <p class="facility-name">Play Area</p>
        <% end %>
      </div>
    </div>
    <% if user_signed_in? %>
      <div class="admin-box">
        <div>ADMIN</div>
          <div class="admin-authorize">
            <% if policy(@place).edit? %>
              <p><i class="far fa-edit"> </i><%= link_to 'Edit', edit_place_path(@place), :class => 'no-decor' %></p>
            <% end %>
            <div> | </div>
            <% if policy(@place).destroy? %>
              <p><i class="far fa-trash-alt"></i> </i><%= link_to 'Destroy', place_path(@place.id), :class => 'no-decor', method: :delete, data: {confirm: "Are you sure?"} %></p>
            <% end %>
          </div>
      </div>
    <% end %>
  </div>
  <!-- GOOGLE MAPS -->
 <!--  <div
    id="map", class="show-google-map"
    data-markers="<%#= @markers.to_json %>"
  ></div> -->

  <!-- MAPBOX -->
  <div
    id="map", class="show-google-map"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
  <div class="show-content-footer">
    <div class="btn btn-minor mr-auto"><i class="fas fa-arrow-left"></i> <%= link_to 'Back', places_path, :class => 'no-decor' %></div>
    <a class="btn btn-nappies no-decor" href="https://maps.google.com/?q=<%= @place.latitude %>,<%= @place.longitude %>" target="_blank">Directions</a>
  </div>
</div>
