<div class="show-images">
  <% @place.photos.each do |photo| %>
    <% if !photo.nil? %>
     <%= cl_image_tag photo.key, class: 'show-img' %>
    <% else %>
      <%= image_tag "place-icon.png", class: 'show-img' %>
    <% end %>
  <% end %>
</div>
<div class="show-details-box">
  <% if policy(@place).edit? %>
    <p class="show-type"><%= link_to 'Edit', edit_place_path(@place) %></p>
  <% end %>
  <% if policy(@place).destroy? %>
    <p class="show-type"><%= link_to 'destroy', place_path(@place.id), method: :delete, data: {confirm: "Are you sure?"} %></p>
  <% end %>
  <div class="show-detail-box">
    <p class="show-type"><%= @place.user.email %></p>
    <p class="show-title"><%= @place.name %></p>
    <p class="show-address"><%= @place.address %></p>
    <a class="btn-get-direction" href="https://maps.google.com/?q=<%= @place.latitude %>,<%= @place.longitude %>" target="_blank">Direction</a>
  </div>
</div>
<p><%= link_to 'Back', places_path %></p>
