<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> -->
    <title>NAPPIES</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
    <%= favicon_link_tag asset_path('nappies-logo.png') %>
  </head>
  <body>
    <%= render 'shared/flashes' %>
    <%= render 'shared/navbar_desktop' %>
    <%= render 'shared/navbar_mobile' %>
    <%= render 'shared/search_desktop' %>
    <%= yield %>
    <%= render 'shared/footer' %>
    <%= render 'shared/navbar_bottom' %>
    <%= javascript_include_tag 'application' %> <!-- from app/assets/javascripts/application.js -->
    <%= javascript_pack_tag 'application' %> <!-- from app/javascript/packs/application.js -->

    <%#= javascript_include_tag "https://maps.googleapis.com/maps/api/js?libraries=places&key=#{ENV['GOOGLE_API_BROWSER_KEY']}" %>
    <%#= javascript_pack_tag "map" %>
  </body>
</html>
